.reset {
    margin: 0;
    padding: 0;
}
.body {
    background-image: url("");
}
#container #menu ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #d7d9d8;
}
#container #menu ul li {
    float: left;
    margin-left: 105px;
}
#container #menu ul li a {
    display: block;
    color:white;
    padding: 5px 5px;
    text-decoration: none;
}
#container #menu ul li a:hover {
    background-color: #d7d9d8;
}
/** --------------------------- PERSONALIZAÇÂO PARA PARA O MENU -------------------------------- **/
.inicio {
width: 100px;
height: 50px;
background: #d7d9d8;
border: 1px solid #CCC;
cursor: pointer;
font-weight: bold;
color: black;
font-family:"Verdana";
font-size: 13px;
border-radius: 10px 5px 10px 5px;
}
.inicio:hover{background: #0CF; width: 160px; transition: all 0.2s ease-in-out; border-color: activeborder}
.clientes {
width: 100px;
height: 50px;
background: #d7d9d8;
border: 1px solid #CCC;
cursor: pointer;
font-weight: bold;
color: black;
font-family:"Verdana";
font-size: 13px;
border-radius: 10px 5px 10px 5px;
}
.clientes:hover{background: #0CF; width: 160px; transition: all 0.2s ease-in-out; border-color: activeborder}
.funcionarios {
width: 100px;
height: 50px;
background: #d7d9d8;
border: 1px solid #CCC;
cursor: pointer;
font-weight: bold;
color: black;
font-family:"Verdana";
font-size: 13px;
border-radius: 10px 5px 10px 5px;
}
.funcionarios:hover{background: #0CF; width: 160px; transition: all 0.2s ease-in-out; border-color: activeborder}
.produtos {
width: 100px;
height: 50px;
background: #d7d9d8;
border: 1px solid #CCC;
cursor: pointer;
font-weight: bold;
color: black;
font-family:"Verdana";
font-size: 13px;
border-radius: 10px 5px 10px 5px;
}
.produtos:hover{background: #0CF; width: 160px; transition: all 0.2s ease-in-out; border-color: activeborder}
.servicos {
width: 100px;
height: 50px;
background: #d7d9d8;
border: 1px solid #CCC;
cursor: pointer;
font-weight: bold;
color: black;
font-family:"Verdana";
font-size: 13px;
border-radius: 10px 5px 10px 5px;
}
.servicos:hover{background: #0CF; width: 160px; transition: all 0.2s ease-in-out; border-color: activeborder;}
.addcliente {
width: 150px;
height: 50px;
background: #d7d9d8;
border: 1px solid #CCC;
cursor: pointer;
font-weight: bold;
color: black;
font-family:"Verdana";
font-size: 13px;
border-radius: 10px 5px 10px 5px;
}
.addcliente:hover{background: #0CF; width: 160px; transition: all 0.2s ease-in-out; border-color: activeborder;}
/** --------------------------- * FIM * PERSONALIZAÇÂO PARA O MENU -------------------------------- **/
/** --------------------------- * INICIO * PERSONALIZAÇÂO PARA O PAINEL -------------------------------- **/
.titulo {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    font-family: Tahoma;
    font-variant-caps: all-small-caps;
}